html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid black;
    height: 100vh;
    }
    
    main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    }
    
    .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 70px 200px;
    grid-auto-rows: 200px;
    gap: 10px;
    
    font-size: 16px;
    }
    
    .project-cards > h2 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    }
    
    .project-cards > .card {
    }
